/* ----------------------------  nav section START ----------------------------  */

/*  .top-section::before {
  grid-column: 2 / span 1;
  content: "";
  background-image: linear-gradient(
    to left,
    #e1e7ef 33%,
    #f4f6f9 45%,
    #f2f2f2 100%
  );
  -webkit-clip-path: polygon(79% 0%, 100% 0%, 167.3% 36.5%, 64% 48%);
  clip-path: polygon(79% 0%, 100% 0%, 167.3% 36.5%, 64% 48%);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -5;
}   */

.page-header {
  grid-column: 2 / span 1;
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: var(--size-10) var(--size-30);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  transition: ease-in-out 0.3s;
  align-items: center;
}

.page-header.sticky {

    background-color: var(--color-three);
    box-shadow: 0px 0px 20px rgba(48, 63, 100, 0.2);
}

.logo-container {
  flex-direction: column;
}

.logo-container img {
  width: 9.688rem;
  height: 2.881rem;
}

.navbar {
  gap: var(--size-30);
  padding: var(--size-6) var(--size-16);
}

.nav-container {
  display: flex;
  gap: var(--size-50);
}

.navbar-nav {
  display: flex;
  align-items: center;
  gap: var(--size-20);
}

.nav-link a {
  font-family: var(--font-main);
  color: var(--color-one);
  font-weight: 500;
  font-size: var(--size-14);
}

.navbar-toggler {
  position: absolute;
  right: var(--size-20);
  top: var(--size-10);
  outline: none;
  background-color: transparent;
  border: 1px solid transparent;
}

[aria-controls="navbarDropdown"] {
  display: none;
}



/* ----------------------------  nav section END ----------------------------  */

/* ----------------------------  hero section START ----------------------------  */
.hero-section {
  margin-top: var(--size-100);
  grid-column: 2 / span 1;
  flex-direction: row;
  justify-content: space-evenly;
  padding: var(--size-40) var(--size-30) 0;
}

.left-side {
  justify-content: center;
  flex-direction: column;
  width: 50%;
  gap: var(--size-30);
  padding: 0rem 0rem var(--size-60);
}

.left-side-header {
  flex-direction: column;
  width: 20.875rem;
}

.left-side-header h1 {
  align-self: stretch;
  margin: 0;
  font-family: var(--font-main);
  font-weight: 500;
  color: var(--black);
  font-size: var(--size-40);
  line-height: normal;
}

.left-side-header p {
  font-family: var(--font-main);
  font-weight: 500;
  color: var(--color-one);
  font-size: var(--size-14);
}

.actions {
  gap: var(--size-24);
  width: 100%;
  flex: 0 0 auto;
}

.play-container {
  justify-content: space-around;
}

.play-container a {
  font-weight: 500;
}

.play-container i {
  font-size: var(--size-18);
}

a.learn-more {
  font-family: var(--font-main-bold);
  font-weight: 700;
  color: var(--color-two);
  font-size: var(--size-14);
  letter-spacing: 0;
  line-height: normal;
}

.right-side {
  display: flex;
  justify-content: center;
  position: relative;
  width: 30rem;
  height: 25rem;
}

.right-side .bubble-small {
  width: var(--size-60);
  height: var(--size-60);
  padding: var(--size-10);
  position: absolute;
  border-radius: var(--size-30);
}

.right-side .bubble-large {
  width: var(--size-80);
  height: var(--size-80);
  padding: var(--size-16);
  border-radius: var(--size-40);
  position: absolute;
}

.google {
  top: 0.625rem;
  left: 4rem;
}

.google-ads {
  top: 18.125rem;
  left: 9.6875rem;
}

.attlasian {
  top: 0.625rem;
  left: 10.9375rem;
}

.paypal {
  top: 10.75rem;
  left: 2.75rem;
}

.weave {
  top: 10.75rem;
  left: 16.375rem;
}

.calendar {
  top: 19.375rem;
  left: 22.75rem;
}

.asana {
  top: 0.625rem;
  left: 23.75rem;
}

/* ----------------------------  HERO section END ----------------------------  */

/* ----------------------------  benefits section START ----------------------------  */

.benefits {
  flex-direction: column;
  padding: var(--size-120) 0rem var(--size-80);
}

.benefits-title {
  grid-column: 2 / span 1;
  flex-direction: column;
}

.benefits-list {
  grid-column: 2 / span 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: var(--size-20);
  margin: var(--size-60) 0 var(--size-60) 0;
  grid-template-areas: "responsive custom premium docs";
}

.benefits-item {
  flex-direction: column;
  gap: var(--size-20);
  padding: var(--size-20);
  background-color: var(--color-three);
  border: 1px solid;
  border-color: var(--color-three);
  box-shadow: -5px 5px 19px 0px #bfbfbf;
}

.benefits-item img {
  width: var(--size-50);
  height: var(--size-50);
}

.benefits-item h3 {
  height: var(--size-24);
  letter-spacing: 0;
  line-height: normal;
}

.benefits-item p {
  margin: 0;
}

.responsive {
  grid-area: responsive;
}

.custom {
  grid-area: custom;
}

.premium {
  grid-area: premium;
}

.docs {
  grid-area: docs;
}

/* ----------------------------  BENEFITS section END ----------------------------  */

/* ----------------------------  BANNER section START ----------------------------  */

.banner-section {
  width: 100%;
  padding-bottom: var(--size-80);
  justify-content: center;
}

.banner-section-content {
  grid-column: 2 / span 1;
  background-color: #f8fafe;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.banner-left {
  padding: var(--size-10) var(--size-30) var(--size-10) var(--size-30);
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  width: 28rem;
}

.banner-left h2 {
  font-weight: 500;
}

.banner-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 29.375rem;
}

.banner-right img {
  align-self: stretch;
  flex-shrink: 0;
  height: 22.0625rem;
}

/* ----------------------------  BANNER section END ----------------------------  */

/* ----------------------------  WHY FRONT section START ----------------------------  */

.why-front-section {
  margin-top: var(--size-50);
  padding-bottom: var(--size-80);
}

.why-front-content {
  grid-column: 2 / span 1;
}

.why-front-title {
  flex-direction: column;
}

.why-front-title p {
  text-align: center;
}

.circles-list {
  display: grid;
  grid-template-areas: "circle-one circle-two circle-three circle-four";
  margin-bottom: var(--size-30);
}

.circle-container {
  display: flex;
  flex-direction: column;
}

.circle-container h4 {
  margin-top: var(--size-14);
  align-self: center;
  display: inline;
}

.circle-top {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  gap: var(--size-6);
}

.circle-one {
  grid-area: circle-one;
}
.circle-two {
  grid-area: circle-two;
}
.circle-three {
  grid-area: circle-three;
}
.circle-four {
  grid-area: circle-four;
}

/* .left-wing {
  background: #e6e9f2;
  flex: 1;
  height: 0.0625rem;
  overflow: hidden;
}

.right-wing {
  background: #e6e9f2;
  flex: 1;
  height: 0.0625rem;
  overflow: hidden;
} */

.bullet-circle {
  grid-column: 2/span 1;
  width: 50px;
  height: 50px;
  background-color: #ECF2FF;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circles-list .circle-container:first-child > .circle-top::before,
.circles-list .circle-container:last-child > .circle-top::after {
  content: unset;
}

.circle-top::before, .circle-top::after {
  content: "";
  height: 1px;
  width: 100%;
  background-color: #e6e9f2;
}

.circle-top::before {
  align-self: center;
  grid-column: 1/span 1;
}

.circle-top::after {
  align-self: center;
  grid-column: 3 / span 1;
}

.bullet-circle-inner {
  background: #0066ff;
  border-radius: 50%;
  width: var(--size-6);
  height: var(--size-6);
}

/* ----------------------------  WHY FRONT section END ----------------------------  */

/* ----------------------- BANNER section START ----------------------------  */

.banner-video-section {
  display: grid;
  grid-template-areas: "play-img play-img play-img";
  position: relative;
  justify-content: center;
}

.play-img {
  grid-area: play-img;
}


.why-front-play-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.play-btn-container {
  position: relative;
  background: var(--color-three);
  border-radius: 2.188rem;
  flex-direction: column;
  justify-content: center;
  width: 4.375rem;
  height: 4.375rem;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}
/* ----------------------- BANNER section END ----------------------------  */

/* ----------------------- HUBSPOT section START ----------------------------  */

.hubspot-content {
  grid-column: 2 / span 1;
  display: grid;
  grid-template-areas: "hubspot-left hubspot-right";
  gap: var(--size-50);
}

.hubspot-left {
  display: flex;
  grid-area: hubspot-left;
  width: 28.25rem;
  height: 35rem;
}

.overlap-img {
  display: flex;
  position: relative;
  width: 26.5rem;
}

.dots {
  position: absolute;
  width: 12.5rem;
  height: 23.063rem;
  top: 6.938rem;
  left: 0;
}

.woman {
  position: absolute;
  width: 23.188rem;
  height: 26.563rem;
  top: 0;
  left: 3.313rem;
  object-fit: cover;
}

.hubspot-right {
  grid-area: hubspot-right;
  flex-direction: column;
  justify-content: center;
  align-self: stretch;
  gap: var(--size-50);
}

.description {
  display: flex;
  flex-direction: column;
  gap: var(--size-30);
}

.description img {
  width: var(--size-100);
  height: 2.125rem;
}

.hubspot-text {
  font-family: var(--font-main);
  font-weight: 500;
  color: var(--black);
  font-size: var(--size-24);
  letter-spacing: 0;
  line-height: var(--size-30);
  text-align: left;
  align-self: stretch;
}

.person-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.25rem;
}

.person-name h3 {
  font-size: var(--size-18);
}
/* ----------------------- HUBSPOT section END ----------------------------  */

/* ----------------------- TRUSTED section START ----------------------------  */

.trusted-brands {
  padding-bottom: var(--size-80);
  flex-direction: column;
  justify-content: flex-start;
}

.brands-title {
  grid-column: 2 / span 1;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: var(--size-30);
}

.brands-title h3 {
  color: #5f6368;
  text-align: center;
  font-size: var(--size-20);
  font-family: var(--font-main);
}

.brands-list {
  grid-column: 2 / span 1;
  margin-top: var(--size-40);
  height: 3.688rem;
}

.brands-list ul {
  display: grid;
  grid-template-areas: "weebly uber slack airbnb spotify";
  gap: var(--size-60);
}

.weebly {
  grid-area: weebly;
}

.uber {
  grid-area: uber;
}

.slack {
  grid-area: slack;
}

.airbnb {
  grid-area: airbnb;
}

.spotify {
  grid-area: spotify;
}



.brands-list ul li img {
  height: var(--size-40);
}
/* ----------------------- TRUSTED section END ----------------------------  */

/* ----------------------- PRICING section START ----------------------------  */

.pricing {
  padding-bottom: var(--size-120);
}

.pricing-title {
  flex-direction: column;
  justify-content: flex-start;
}

.pricing-content {
  grid-column: 2 / span 1;
}

.pricing-title p {
  font-weight: 500;
}

.plan-info {
  margin-top: var(--size-60);
  padding: 0 2.75rem;
  flex-direction: row;
  gap: var(--size-30);
  justify-content: center;
}

.price-card {
  display: flex;
  border: 1px solid #ffffff;
  padding: var(--size-40);
  flex-direction: column;
  gap: var(--size-50);
  justify-content: flex-start;
  align-self: stretch;
  width: 23rem;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
}

.plan-header {
  flex-direction: column;
  gap: var(--size-30);
}

.plan-header h1 {
  font-size: var(--size-50);
  font-family: var(--font-main);
  font-weight: 500;
  margin: 0;
}

.plan-header h1 span {
  color: var(--color-one);
  font-family: "SF Pro-Medium", Helvetica;
  font-size: var(--size-20);
}

.plan-header p {
  font-weight: 500;
  line-height: var(--size-24);
  margin: 0;
}

.plan-header hr {
  width: 18.125rem;
  height: 1px;
  background-color: #8d8d8d;
}

.plan-footer {
  display: flex;
  flex-direction: column;
}

.plan-footer p {
  font-size: var(--size-14);
}

.plan-footer .btn-primary {
  font-weight: 400;
  font-size: var(--size-16);
}

.price-grid {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  height: 100%;
}

.price-grid .price-grid-item:nth-child(3),
.price-grid .price-grid-item:nth-child(4) {
  justify-content: center;
}

.price-grid-item {
  flex-direction: column;
  gap: var(--size-20);
  padding: var(--size-20);
  border: 1px solid transparent;
  width: 16.5rem;
  height: 15rem;
}

.grid-item-content {
  flex-direction: column;
  gap: var(--size-20);
}

.grid-item-content img {
  width: var(--size-50);
  height: var(--size-50);
}

.grid-item-content h3 span {
  margin-left: var(--size-10);
}

#sketch {
  width: fit-content;
  padding: 0.25rem var(--size-14);
  background-color: #01c9a7;
  border-radius: var(--size-14);
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: var(--color-three);
  font-size: var(--size-14);
  line-height: normal;
}
/* ----------------------- PRICING section END ----------------------------  */

/* ----------------------- HIRE US section START ----------------------------  */

/* .hire-us {
  display: grid;
  grid-template-columns: minmax(20%, 1fr) minmax(60%, 1fr) minmax(20%, 1fr);

  grid-auto-flow: row;
  align-items: center;
  grid-template-areas: "... leftSide rightSide ...";
} */

.hire-us-background {
  background-color: #20335b;
  background-image: url("./assets/abstract/hire-us-transparent-pattern-bg.svg");
}

.hire-us-content {
  grid-column: 2 / span 1;
  display: grid;
  grid-auto-flow: column;
  gap: var(--size-50);
  padding: var(--size-50);
}

.hire-us-left-container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.hire-us-left {
  display: flex;
  flex-direction: column;
  gap: var(--size-40);
  /*   justify-content: center;
  align-self: center; */
}

.hire-us-left h1 {
  margin: 0;
  color: var(--color-three);
  font: 700 var(--size-30) var(--font-main);
}

.hire-us-left p:nth-of-type(1) {
  font-weight: 500;
}
.hire-us-left p:nth-of-type(2) {
  color: var(--color-three);
  font-weight: 300;
  font-style: italic;
}

.hire-us-left hr {
  margin: 0;
  background: #ffffff;
  flex-shrink: 0;
  width: 11.25rem;
  height: 1px;
  overflow: hidden;
}

.hire-us-btm {
  flex-direction: column;
  gap: var(--size-30);
  justify-content: flex-start;
  flex-shrink: 0;
  align-self: flex-start;
}

.hire-us-btm h2 {
  color: var(--color-three);
  text-align: left;
  font-weight: 500;
  font-family: var(--font-main);
}

.hire-us-btm p {
  margin: 0;
  font: 500 var(--size-16) var(--font-main);
}

.btm-images {
  flex-direction: row;
  gap: var(--size-30);
}

.btm-images img {
  border-radius: var(--size-30);
  flex-shrink: 0;
  width: var(--size-50);
  height: var(--size-50);
}

.btm-images img:nth-of-type(3) {
  border-radius: var(--size-40);
  flex-shrink: 0;
  width: var(--size-60);
  height: var(--size-60);
}

/* .hire-us-right {
  padding: var(--size-30) var(--size-100);
} */

.form {
  background: #ffffff;
  border-radius: var(--size-10);
  padding: var(--size-30);
  flex-direction: column;
  gap: var(--size-20);
}

.form label {
  display: none;
}

.form h2 {
  text-align: left;
  font-size: var(--size-20);
  line-height: var(--size-24);
  font-family: var(--font-main);
  width: 24.5rem;
}

.form-group {
  flex-direction: row;
  gap: var(--size-20);
  justify-content: flex-start;
  width: 24.5rem;
}

input {
  border-radius: 5px;
  border: var(--input-border);
  padding: var(--size-10);
  gap: var(--size-10);
  flex: 1;
}

input[value="First name"],
[value="Last name"],
[value="Work email"],
[value="Company Website"] {
  color: #828282;
  text-align: left;
  font: 500 var(--size-14) var(--font-main);
}

select {
  border-radius: 5px;
  border: var(--input-border);
  padding: var(--size-10) var(--size-16) var(--size-10) var(--size-10);
  justify-content: space-between;
  flex: 1;
}

.form-group .select-field {
  font-family: var(--font-main);
  -webkit-appearance: none;
  background-image: url("./chevron-down-solid.svg");
  background-repeat: no-repeat;
  background-size: var(--size-10);
  background-position: 92% 50%;
}

.form-group textarea {
  padding: var(--size-10);
  border-radius: 5px;
  border: var(--input-border);
}

.form > form textarea[placeholder] {
  color: #828282;
  font: 500 var(--size-14) / var(--size-24) var(--font-main);
}

.privacy-policy {
  display: grid;
  grid-template-columns: var(--size-30) 1fr;
  width: 90%;
}

.privacy-policy > label.subtext {
  display: block;
  margin-left: var(--size-10);
}

/* ------------------------------ FOOTER STYLES START ------------------------- */

.footer {
  margin-top: var(--size-60);
}

.footer-top-container {
  grid-column: 2 / span 1;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 4fr;
  gap: var(--size-30);
  padding-bottom: var(--size-30);
  align-items: center;
}

.contact-box {
  align-self: flex-start;
}

.bottom-list > li {
  padding-bottom: var(--size-10);
  display: block;
  white-space: nowrap;
}

.bottom-list > li i {
  width: var(--size-20);
  color: var(--color-one);
  display: inline-block;
  font-size: var(--size-14);
}

.bottom-list > li a.address-phone {
  font: var(--size-14) var(--font-main);
  color: var(--color-one);
}

.footer-menu-item a {
  white-space: nowrap;
}

.footer-menu-item .logo {
  margin-bottom: var(--size-30);
}

.footer-menu-list-grid {
  display: grid;
  grid-template-areas: "company features footer-docs resources";
  width: 100%;
  grid-auto-flow: column;
}

.company {
  grid-area: company;
}

.features {
  grid-area: features;
}

.footer-docs {
  grid-area: footer-docs;
}

.resources {
  grid-area: resources;
}

.footer-menu-list li {
  padding-bottom: var(--size-10);
  display: block;
  white-space: nowrap;
}

.footer-menu-list > li span {
  font-size: var(--size-10);
  font-weight: normal;
  padding: 0.188rem 0.313rem;
  border-radius: 3px;
  background-color: var(--color-two);
  margin-left: 0.313rem;
  color: #ffffff;
}

.footer-menu-list > li i {
  color: var(--color-one);
  font-size: var(--size-14);
}

.footer-menu-item h3 {
  padding-bottom: 0.313rem;
  margin-bottom: var(--size-10);
  font: 700 var(--size-18) var(--font-main);
}

li > a.menu-list-item {
  font-size: var(--size-14);
  color: var(--color-one);
  font-weight: 500;
  font-family: var(--font-main);
}

/* -------------------------------- FOOTER BOTTOM ----------------------------- */

.footer-btm {
  grid-column: 2 / span 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--size-30);
  align-items: center;
  border-top: var(--input-border);
  padding-top: var(--size-30);
  margin-bottom: var(--size-20);
}

.footer-btm-breadcrumb {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--size-6);
}

.footer-btm-breadcrumb > li a {
  color: var(--color-one);
  font: 500 var(--size-14) var(--font-main);
}

.footer-btm > .footer-socials {
  grid-column: 2 / span 1;
  display: flex;
  justify-content: flex-end;
}

.social-item {
  width: var(--size-30);
  background-color: #ecf2ff;
  justify-content: center;
}

.footer-socials > a.social-item,
.country-dropdown {
  background-color: #ecf2ff;
  height: var(--size-30);
  border: none;
  border-radius: 5px;
  color: var(--color-one);
  font-size: var(--size-14);
  margin-left: var(--size-10);
}

.country-dropdown {
  padding: 0 var(--size-30) 0 var(--size-16);
  -webkit-appearance: none;
  background-image: url("./chevron-down-solid.svg");
  background-repeat: no-repeat;
  background-size: var(--size-10);
  background-position: 92% 50%;
  outline: none;
  flex: none;
}

.footer-copyright {
  grid-column: 1 / -1;
}

.footer-copyright > p {
  padding-bottom: var(--size-20);
  text-align: center;
  color: var(--color-one);
  font-size: var(--size-14);
  line-height: var(--size-20);
  width: 80%;
  margin: auto;
}
